@{
    ViewBag.Title = "Acerca De";
}

<h3>@ViewBag.Message</h3>

<p> Trabajo Final PROGRAMACION WEB I - INF244-41051-001</p>

<hr />
<h4>Sustentantes</h4>
<p>
    Jesus Francisco Dicent Aguero - 20181523
</p>
<p>
    Andres Felipe - 20180385
</p>
<p>
    Halen Cordero - 20170913
</p>
<p>
    Luis Emilio - 20190747
</p>
<p>
    Stiven Felix - 20181016
</p>
<p>
    Jhoneudy Rodriguez - 20190576
</p>
<hr />
